{% extends "layout.html" %}

{% block style %}

{% endblock style %}

{% block content %}

        <h1>Добро пожаловать в <span class="orange">Orange</span> Блог</h1>
        <blockquote>Добро пожаловать в мой блог<br/>

        </blockquote>
        <p> Добро пожаловать в мой блог</p>
        <h1>Filler Text</h1>
        <p>This is a <a href="http://web-mastery.info/">link</a> to nowhere. Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Nulla congue, velit tristique mattis auctor, velit elit euismod diam, a interdum tortor
            enim eget ante. Nulla congue, velit tristique mattis auctor, velit elit euismod diam, a interdum tortor enim
            eget ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla congue, velit tristique mattis
            auctor, velit elit euismod diam, a interdum tortor enim eget ante. </p>



{% endblock content %}
